footer {
    background-color: #1F2937;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer p {
    margin: 20px;
    font-family: 'RobotoRegular';
    font-size: 18px;
    color: #e5e7eb;
  }