@import url("./fonts.css");
@import url("./header.css");
@import url("./footer.css");

header,
main,
footer {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;  
  width: 100vw;
}