@import url("shared.css");

@font-face {
    font-family: 'RobotoRegular';
    src: url(../fonts/Roboto-Regular.ttf);
}

body{
  padding: 0;
  margin: 0;
  position: relative; 
  /*min-height: 100vh; */
  border: 1px solid orange;
}

footer{
  /*position: fixed !important;*/
  bottom: 0;
}

* {
  font-family: 'Roboto-Regular', sans-serif;
  margin: 0;
}
/*
header, h1.logo {
  background-color: #1f2937;
  color: #fff;
}
*/
/*
a {
  text-decoration: none;
  color: #fff;
}
*/
/*
li a {
  color: #fff;
  text-decoration: none;
}
*/
/*  
.logo-menu {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
*/
/*  
.content-logo-menu {
  display: flex;
  align-items: baseline;
  width: 70vw;
  justify-content: space-between;
}
*/
 /* 
.menu ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
}
*/
.content-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #e5e7eb;

  /*border: 1px solid red;*/
}

.intro-text {
  padding: 40px;
  border-radius: 3%;
}

h1 {
  color: #1F2937;
  font-family: 'RobotoRegular', sans-serif;
  margin-bottom: 20px;
}

p { 
  padding-top: 5px;
  padding-bottom: 5px;
}

.data-form {
  display: flex;
  flex-direction: column;
  width: 530px;
}

label {
  margin-top: 8px;
}

input, textarea {
  padding: 10px;
  border: 3px solid #e5e7eb;
  border-radius: 3%;
}

button {
  background-color: #3882F6;
  border: none;
  padding: 10px;
  border-radius: 3%;
  margin-top: 8px;
}

